#sidebar {
    z-index: 1000;
    position: absolute;
    width: 0;
    height: 70vh;
    margin-left: -175px;
    overflow: auto;
    background: rgb(83, 231, 219);
}

#sidebar-wrapper {
    padding-left: 0;
}

#sidebar-wrapper.open {
    padding-left: 175px;
}

#sidebar-wrapper.open #sidebar{
    z-index: 1000;
    padding-left: 0px;
    width: 175px;
    display: block;
}

#toggle-btn {
    z-index: 500;
    background-color: rgb(83, 231, 219);
    color: black;
    position: absolute;
    height: 42px;
    width: 42px;
    text-align: center;
}

#toggle-btn div{
    padding: 3px 13px;
    margin: 6px 8px;
    background-color: black
}

#mapSection {
    width: auto; 
    height: 70vh; 
}

#map {
  width: auto; 
  height: 70vh; 
}

.dotSection {
    text-align:center
}

.prev, .next {
    cursor: pointer;
    padding: 10px 10px;
    color: white;
    font-size: 12px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    font-weight: bold;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(256,256,256,0.7);
    color: black;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.dot:hover {
    background-color: #717171;
}